[{sasl,[{errlog_type,error}]},
 {guardian,
     [{'Elixir.Guardian',
          [{allowed_algos,[<<"HS512">>]},
           {verify_module,'Elixir.Guardian.JWT'},
           {issuer,<<"MyApp">>},
           {ttl,{30,days}},
           {verify_issuer,true},
           {secret_key,
               <<"ef2a2b1175347ee39cc3201355c719f8e7f2fe4d83fdf652a7c56899a2ea0a751e43c907e6bda7933650db5d7d150eeb91d3b530da7757b906eb08a78ff94fd4">>},
           {serializer,'Elixir.Sentinel.GuardianSerializer'}]}]},
 {sentinel,
     [{app_name,<<"Test App">>},
      {user_model,'Elixir.DraftServer.User'},
      {email_sender,<<"test@example.com">>},
      {crypto_provider,'Elixir.Comeonin.Bcrypt'},
      {auth_handler,'Elixir.Sentinel.AuthHandler'},
      {repo,'Elixir.DraftServer.Repo'},
      {confirmable,false},
      {endpoint,'Elixir.DraftServer.Endpoint'},
      {router,'Elixir.DraftServer.Router'}]},
 {logger,
     [{console,
          [{format,<<"$time $metadata[$level] $message\n">>},
           {metadata,[request_id]}]},
      {level,info}]},
 {draft_server,
     [{'Elixir.DraftServer.Endpoint',
          [{root,<<"/Users/a1673450/dev/draft_server">>},
           {render_errors,[{accepts,[<<"html">>,<<"json">>]}]},
           {pubsub,
               [{name,'Elixir.DraftServer.PubSub'},
                {adapter,'Elixir.Phoenix.PubSub.PG2'}]},
           {http,[{port,{system,<<"PORT">>}}]},
           {url,[{host,<<"challengecup.club">>},{port,80}]},
           {cache_static_manifest,<<"priv/static/manifest.json">>},
           {server,true},
           {secret_key_base,
               <<"tsG52ooM2TtRTAxHyaJRxcDgQKU4wtjwvz+WYSBvYBEpfNzBCayyAO6X4Vp8ZYad">>}]},
      {'Elixir.DraftServer.Repo',
          [{adapter,'Elixir.Ecto.Adapters.Postgres'},
           {username,<<"postgres">>},
           {password,<<"postgres">>},
           {database,<<"draft_server_prod">>},
           {pool_size,20}]}]},
 {phoenix,[{generators,[{migration,true},{binary_id,false}]}]}].
